[sshd]
enabled = {{ fail2ban_state }}
port = {{ fail2ban_ssh_port }}
filter = sshd
logpath = {{ fail2ban_ssh_logpath }}
maxretry = {{ fail2ban_ssh_maxretry }}
findtime = {{ fail2ban_ssh_findtime }}
bantime = {{ fail2ban_ssh_bantime }}
